# Configuration de l’accès à la base de données SQL utilisée par l'application
DB_HOST=db
DB_NAME=ecoride
DB_USER=app
DB_PASS=changeme

# Variables utilisées par le conteneur Docker MariaDB à l'initialisation
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ecoride

# Configuration MongoDB
MONGO_URI=mongodb://mongo:27017
